@page "/"

<h1>@themeName</h1>
<h2>@myName</h2>
<h3>@currentDate</h3>

Welcome to My Theme Application Trekking

@code{
      string themeName = "Trekking";
      string myName = "Karamjit Sohal"
      DateTime currentDate = DateTime.Now;
}

