@page "/Trekking"

<h1>Trekking Locations</h1>

<button @onclick="ShowLocations">Show Trekking Locations</button>

<p>
    @for (var i = 0; i < locationList; i++)
    {
        @locations[i] <br />
    }
</p>

<label>No. of Trekking Locations to be displayed:</label>
<input type="number" value="@locationList" @onchange="@(e => UpdateLocations(int.Parse(e.Value.ToString())))">

@code{
    private string[] locations = new string[5];

    private void ShowLocations(){
        locations[0] = "Mount Everest";
        locations[1] = "Tour Du Mont Blanc";
        locations[2] = "The West Coast Trail";
        locations[3] = "GR 20";
        locations[4] = "Dolomite High Route";
    }

    private int locationList = 5;

    private void UpdateLocations(int num){
        if (num >= 0 && num <=5)
        {
            locationList = num;
        }
    }
}
