@page
@model WEB315_Trekking_Locations_Asg_01.Pages_ThemeTrekking.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ThemeTrekking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThemeTrekking.LocationName" class="control-label"></label>
                <input asp-for="ThemeTrekking.LocationName" class="form-control" />
                <span asp-validation-for="ThemeTrekking.LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeTrekking.PlanningToVisit" class="control-label"></label>
                <input asp-for="ThemeTrekking.PlanningToVisit" class="form-control" />
                <span asp-validation-for="ThemeTrekking.PlanningToVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeTrekking.Place" class="control-label"></label>
                <input asp-for="ThemeTrekking.Place" class="form-control" />
                <span asp-validation-for="ThemeTrekking.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeTrekking.State" class="control-label"></label>
                <input asp-for="ThemeTrekking.State" class="form-control" />
                <span asp-validation-for="ThemeTrekking.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeTrekking.Country" class="control-label"></label>
                <input asp-for="ThemeTrekking.Country" class="form-control" />
                <span asp-validation-for="ThemeTrekking.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
