@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Trekking Spots</h1>
    <h2>Theme: Trekking</h2>
    <h3>Name: Karamjit Sohal</h3>
    <p>I have chosen this theme because I love to trek.</p>
    <a href = "https://github.com/karamsohal/WEB315_Trekking_Locations_Asg_01.git">Link to Karamjit's Assignment-1</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Current Date and Time is: @DateTime.Now </p>
</div>
